<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="be.liege.cti.ged" level="info"/>
    <logger name="be.liege.cti.ged.api" level="info"/>
    <logger name="be.liege.cti.ged.test" level="info"/>
    <logger name="be.liege.cti.ged.test.insert.content.InsertNewImageExampleApp" level="info"/>
</configuration>
